<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwException="true">
    <targets async="true">
        <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${longdate}|${pad:padding=5:inner=${level:uppercase=true}}|${message}  ${exception:format=tostring}">
            <highlight-row condition="level == LogLevel.Error || level == LogLevel.Fatal" foregroundColor="Red" />
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Debug" writeTo="ColoredConsole" />
    </rules>
</nlog>